.mt-5 {
  margin-top: calc(var(--offset-base-size) * 5);
}


.p-1 {
  padding: var(--offset-base-size);
}

.pt-2 {
  padding-top: calc(var(--offset-base-size) * 2);
}

.pb-2 {
  padding-bottom: calc(var(--offset-base-size) * 2);
}

.pl-4 {
  padding-left: calc(var(--offset-base-size) * 4);
}

.pr-4 {
  padding-right: calc(var(--offset-base-size) * 4);
}

.pt-5 {
  padding-top: calc(var(--offset-base-size) * 5);
}

.pr-5 {
  padding-right: calc(var(--offset-base-size) * 5);
}

.pl-5 {
  padding-left: calc(var(--offset-base-size) * 5);
}

