@import url("./typography.css");
@import url("./box.css");

:root {
  --offset-base-size: 4px;

  --fs-regular: 20px;
  --fs-small: 14px;
  --fw-regular: 400;
  --fw-bold: 700;

  --common-transition: all .3s ease-in;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.br-30 {
  border-radius: 30px;
}
